CSharpShop/Client/Service References/ServiceReference/ShopServiceBase_x0060_1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ShopServiceBase_x0060_1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:60815/ShopService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:60815/ShopService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:60815/ShopService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DomainModel" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IShopServiceBaseOf_BaseModel_Create_InputMessage">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="IShopServiceBaseOf_BaseModel_Create_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="IShopServiceBaseOf_BaseModel_GetItems_InputMessage">
    <wsdl:part name="parameters" element="tns:GetItems" />
  </wsdl:message>
  <wsdl:message name="IShopServiceBaseOf_BaseModel_GetItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetItemsResponse" />
  </wsdl:message>
  <wsdl:message name="IShopServiceBaseOf_BaseModel_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IShopServiceBaseOf_BaseModel_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IShopServiceBaseOf_BaseModel_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IShopServiceBaseOf_BaseModel_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:portType name="IShopServiceBaseOf_BaseModel">
    <wsdl:operation name="Create">
      <wsdl:input wsaw:Action="http://tempuri.org/IShopServiceBaseOf_BaseModel/Create" message="tns:IShopServiceBaseOf_BaseModel_Create_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IShopServiceBaseOf_BaseModel/CreateResponse" message="tns:IShopServiceBaseOf_BaseModel_Create_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetItems">
      <wsdl:input wsaw:Action="http://tempuri.org/IShopServiceBaseOf_BaseModel/GetItems" message="tns:IShopServiceBaseOf_BaseModel_GetItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IShopServiceBaseOf_BaseModel/GetItemsResponse" message="tns:IShopServiceBaseOf_BaseModel_GetItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IShopServiceBaseOf_BaseModel/Update" message="tns:IShopServiceBaseOf_BaseModel_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IShopServiceBaseOf_BaseModel/UpdateResponse" message="tns:IShopServiceBaseOf_BaseModel_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IShopServiceBaseOf_BaseModel/Delete" message="tns:IShopServiceBaseOf_BaseModel_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IShopServiceBaseOf_BaseModel/DeleteResponse" message="tns:IShopServiceBaseOf_BaseModel_Delete_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IShopServiceBaseOf_BaseModel" type="tns:IShopServiceBaseOf_BaseModel">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://tempuri.org/IShopServiceBaseOf_BaseModel/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItems">
      <soap:operation soapAction="http://tempuri.org/IShopServiceBaseOf_BaseModel/GetItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IShopServiceBaseOf_BaseModel/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IShopServiceBaseOf_BaseModel/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ShopServiceBase_x0060_1">
    <wsdl:port name="BasicHttpBinding_IShopServiceBaseOf_BaseModel" binding="tns:BasicHttpBinding_IShopServiceBaseOf_BaseModel">
      <soap:address location="http://localhost:60815/ShopService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>