CSharpShop/Client/Service References/ServiceReference/ShopService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/DomainModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DomainModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:60815/ShopService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="BaseModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="BaseModel" nillable="true" type="tns:BaseModel" />
  <xs:complexType name="ArrayOfBaseModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BaseModel" nillable="true" type="tns:BaseModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBaseModel" nillable="true" type="tns:ArrayOfBaseModel" />
</xs:schema>